# Firebase Web App Authentication Configuration (E2 Stories)
VITE_FIREBASE_API_KEY=AIzaSyDsSRQMUbzE2X4LNSfg8GRuIWUONELUYNM
VITE_FIREBASE_AUTH_DOMAIN=e2-stories.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=e2-stories
VITE_FIREBASE_STORAGE_BUCKET=e2-stories.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1028194039722
VITE_FIREBASE_APP_ID=1:1028194039722:web:1dc613003a521b81165dd3
